    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

    /* Sidebar (Desktop Default Visible) */
    .sidebar {
        position: fixed;
        width: 250px;
        height: 100%;
        background: linear-gradient(180deg, #1e3c72, #2a5298);
        color: white;
        left: 0;
        top: 0;
        transition: 0.3s;
        z-index: 2000;
        overflow-y: auto;
        scrollbar-width: none;
    }

    /* Logo */
    .sidebar .logo img {
        margin: 40px auto;
        display: block;
        background: white;
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    /* Menu */
    .sidebar ul {
        list-style: none;
        padding: 15px;
    }

    .sidebar ul li {
        padding: 12px;
    }

    .sidebar ul li a {
        font-size: 15px;
        color: white;
        text-decoration: none;
        display: block;
        touch-action: manipulation;
        -webkit-tap-highlight-color: transparent;
    }

    .sidebar ul li:hover {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
    }

    .cross {
        text-align: right;
        font-size: 22px;
        cursor: pointer;
        display: none;
    }

    /* Menu Button (Hidden on Desktop) */
    .menu-btn {
        position: absolute;
        top: 15px;
        left: 20px;
        font-size: 25px;
        cursor: pointer;
        display: none;
        z-index: 1000;
    }

    /* Main Content */
    .main-content {
        margin-left: 250px;
        /* padding: 20px; */

        /* min-height: 100vh; */
    }

    .welcome_msg {
        text-align: center;
        position: relative;

    }

    .welcome_head_msg {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border: 2px solid whitesmoke;
    }

    .notification {
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 24px;
        cursor: pointer;
    }

    .notification_count {
        position: absolute;
        top: -5px;
        right: -8px;
        background: red;
        color: white;
        font-size: 10px;
        font-weight: bold;
        padding: 2px 6px;
        border-radius: 50%;
        line-height: 1;
        min-width: 18px;
        text-align: center;
    }

    .noti-box {
        display: none;
        /* Hidden by default */
        position: absolute;
        top: 40px;
        right: 0;
        width: 250px;
        background: white;
        border: 1px solid #ddd;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        border-radius: 10px;
        max-height: 300px;
        overflow-y: auto;
    }

    .noti-item {
        padding: 10px;
        border-bottom: 1px solid #eee;
        font-size: 13px;
        color: #333;
    }

    /* 🔵 NEW notifications */
    .unread {
        background-color: #a0a4a8;
        border-left: 4px solid #3b82f6;
        font-weight: 600;
    }

    /* ⚪ OLD notifications */
    .read {
        background-color: #fff;
        opacity: 0.7;
    }

    .new-badge {
        background: red;
        color: #fff;
        font-size: 10px;
        padding: 2px 6px;
        margin-left: 6px;
        border-radius: 10px;
    }

    .noti-item:hover {
        background: #f9f9f9;
    }

    #noti_list {
        text-align: justify;
    }

    .msg_time {
        text-align: start;
        color: #1e3c72;
    }


    .submenu {
        display: none;
        padding-left: 15px;
    }

    .submenu li {
        padding: 8px;
        font-size: 16px;
    }

    .submenu li a {
        color: #ddd;

    }

    /* Show submenu when active */
    .submenu.show {
        display: block;
    }

    /* Rotate arrow */
    .dropdown a i.ri-arrow-down-s-line {
        float: right;
        transition: 0.3s;
    }

    .dropdown.active a i.ri-arrow-down-s-line {
        transform: rotate(180deg);
    }

    /* logout popup */

    #logout_model {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        display: none;
        justify-content: center;
        align-items: flex-start;
        z-index: 2000;
    }

    .logout {
        background-color: white;
        padding: 15px 15px;
        border-radius: 12px;
    }

    .logout_btn {
        padding: 7px;
        border-radius: 10px;
        color: white;
        background-color: #D32F2F;
        cursor: pointer;
        margin-top: 10px;
    }

    .cancel_btn {
        padding: 7px;
        border-radius: 10px;
        color: white;
        background-color: #9E9E9E;
        cursor: pointer;
        margin-top: 10px;
    }

    .logout button:hover {
        transform: scale(1.05);
    }

    /* ================= MOBILE ================= */
    @media (max-width: 768px) {

        /* Hide sidebar */
        .sidebar {
            left: -250px;
        }

        /* Show sidebar when active */
        .sidebar.active {
            left: 0;
        }

        /* Show menu button */
        .menu-btn {
            display: block;
        }

        /* Full width content */
        .main-content {
            margin-left: 0;
        }

        .cross {
            position: absolute;
            top: 5px;
            right: 10px;
            display: inline;
        }
    }